* {
	margin: 0;
	padding: 0;
}
li {
    list-style: none;
}
html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #d9d9d9;
}

.encabezado {
    padding-top: 140px;
    width: 82%;
    float: right;
    display: table;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0px 2px 4px gray;
}

.menuAdmin {
    width: 18%;
    height: 100%;
    background-color: gray;
    float: left;
    top: 0;
    text-align: center;
}
.menuAdmin ul {
    width: 100%;
    display: table;
    color: white;
}
.menuAdmin ul li {
    height: 30px;
    cursor: pointer;
    margin: 3px;
    color: white;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menuAdmin ul li:hover {
    background-color: #13F98D;
    
}
.menuAdmin li a {
    color: white;
}
.menuAdmin li img {
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 8px;
    margin-left: 50px;
}
.menuAdmin li h4 {
    float: left;
    margin-left: 10px;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

.contenido {
    width: 80%;
    float: left;
    height: 450px;
    overflow-x: hidden;
}
.contenido form {
    width: 95%;
    display: table;
    padding: 20px;
    margin: auto;
}
.contenedor h1 {
    text-align: center;    
}
.subContenido {
    width: 100%;
    height: 100%;
    background-color: rgba(1,1,1,0.5);
    display: none;
}
.subContenido h5 {
    padding-top: 80px;
    margin-top: 0;
}
select {
    border-radius: 5px;
    border: 1px solid #C82C0A;
    width: 80%;
    height: 30px;
    color: #C82C0A;
    margin: auto;
    margin-top: 20px;
}
.identificacion {
    color: red;
    display: table;
}
.identificacion li {
    float: left;
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;    
}
/*
.identificacion li:nth-child(6), .identificacion li:nth-child(7), .identificacion li:nth-child(8), .identificacion li:nth-child(9), .identificacion li:nth-child(10) {
    width: 20%;
}*/
.identificacion li:first-child {
    width: 100%;
}
.datosPersonales {
    clear: both;
    color: blue;
}
.datosPersonales li {
    float: left;
    width: 33%;
    padding-bottom: 15px;
}
.datosPersonales li:first-child {
    width: 100%;
    padding-bottom: 0;
}
.genero {
    clear: both;
    color: blue;
}
.genero li:first-child {
    width: 100%;
    padding-bottom: 0;
}
.genero li {
    float: left;
    width: 25%;
    padding-bottom: 15px;
}
.treinta {
    clear: both;
}
.treinta li {
    width: 33%;
    float: left;
}
.treinta1 {
    clear: both;
}
.treinta1 li:first-child {
    width: 100%;
}
.treinta1 li {
    width: 33%;
    float: left;
}
.cincuenta {
    clear: both;    
}
.cincuenta li {
    width: 50%;
    float: left;
}
.ubicacion {
    clear: both;
    width: 98%;
    color: blue;
}
.ubicacion li {
    float: left;
    width: 33%;
}
.ubicacion li:first-child {
    width: 100%;
}

.escolaridad {
    clear: both;
    width: 98%;
}
.escolaridad li {
    float: left;
    width: 33%;
}
.escolaridad li:first-child {
    width: 100%;
}
.escolaridad li:nth-child(8){
    width: 100%;
}
.datosP {
    clear: both;
    width: 98%;
}
.datosP li {
    float: left;
    width: 50%    
}
.datosP li:first-child {
    width: 100%;
}
.botones {
    clear: both;
    width: 98%;
    text-align: center;
}
.botones li {
    width: 33%;
    float: left;
}
.botones li:first-child {
    width: 100%;
}
.botones li:nth-child(5) {
    text-align: center;
    width: 50%;
}
.botones li:nth-child(6) {
    text-align: center;
    width: 50%;
}
input[type=text] {
    width: 95%;
    height: 25px;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 5px;
    color: #59B959;
}
input[type=date]{
    border-radius: 5px;
    border: 1px solid #C82C0A;
    width: 80%;
    height: 30px;
    color: #C82C0A;
    margin: auto;
    margin-top: 20px;
}
input[type=number] {
    width: 95%;
    height: 25px;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 5px;
}
input[type=button]{
    padding: 8px 20px;
    cursor: pointer;
    background-color: #59B959;
    color: white;
}
input[type=button]:hover {
    background-color: #9DF69D;
    color: #437843;
}
table {
    width: 70%;
    padding: 20px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
}
tbody tr td {
    width: 20%;
    padding: 10px;
}
#propia {
    margin-top: 50px;
    width: 100px;
    height: 100px;
}
#p2 {
    margin-top: 50px;
    margin: auto;
}
.reporte {
    border: 1px solid red;
    width: 80%;
    height: 100px;
}
h5 {
    color: green;
}
.mascara {
    display: none;
    position: fixed;
    top: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(1,1,1,0.6);
    z-index: 9999;
    overflow-x: hidden;
}
.accion {
    clear: both;
    padding-top: 20px;
    width: 100%;
}
.btnImpresionRepor{
    width: 100%;
    clear: both;
    position: fixed;
    z-index: 9999;
    padding-top: 20px;
} 

.contenedorGraficos {
    width: 90%;
    display: table;
    margin: auto;
    background-color: white;
}

.divisionReportes {
    width: 90%;
    margin: auto;
    display: table;
}
.vistaReportes {
    padding-top: 100px;
}
.barraHor {
    width: 90%;
    margin: auto;
    display: table;
}
.tortas {
    width: 90%;
    margin: auto;
    height: 100px;
    border: 1px solid red;
}
.impresion {
    width: 90%;
    margin: auto;
    clear: both;
    border: 1px solid red;
    padding-bottom: 20px;
}
#reporteGenerado {
    display: none;
}
@media print {
    #menuAdmin, .contenido, #divExportar {
        display: none;
    }
    .btnImpresionRepor {
        display: none;
    }    
    #hRepo{
        display: none;
    }
    #divListaAsis3{
     display: none;   
    }
}